<html>
    <head>
        <title>Console</title>
        <style type="text/css">
            #console {
                background-color: #000000;
                color: green;
                width: 75%;
                height: 50%;
                overflow: scroll;
            }
        </style>
        <script type="text/javascript" src="./static/js/console.js"></script>
    </head>
    <body onload="init(active_term)">
        <div id="console">
            
        </div>
    </body>
</html>
