"""
WebVirt Configuration
"""

name = "WebVirt" # default = WebVirt
port = "" # default = ""
domain = "example.com" # default = example.com
site = domain + port
urlprefix = "/hackathon" # default = /hackathon
datadir = "/var/webvirt/" # default = /var/webvirt/
