"""
WebVirt Configuration
"""

name = "WebVirt" # default = WebVirt
port = "" # default = "" (port 80)
domain = "example.com" # default = example.com
site = domain
if port != "":
    site + ':' + port
urlprefix = "/webvirt" # default = /webvirt
datadir = "/var/webvirt/" # default = /var/webvirt/
